body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #fc93cb;
    color: #ffffff;
    padding: 20px;
    text-align: center;
}

h1 {
    font-size: 2em;
}

img{
    width: 700;
    height: 250;
    display: flex;
}
